.menu-builder .item {
    border: 2px solid #54926d;
    padding: 6px 4px;
    text-decoration: none;
    color: #1b2544;
    display: block;
    max-width: 200px;
    text-align: center;
    position: relative;
    background-color: #abccb7;
    margin: 5px 0;
    transition: all 0.3s;
    border-radius: 3px;
}
.menu-builder .item:hover {
    background-color: #eee;
}
.menu-builder .add {
    background-color: #ddd;
    padding: 19px 19px;
    border-radius: 3px;
    max-width: 300px;
    margin: 10px 0;
    display: none;
    position: fixed;
    z-index: 10;
    left: 41%;
    top: 36%;
}
.menu-builder .b-add {
    margin-top: 5px;
    padding: 4px 18px;
}
.menu-builder .add-item {
    position: absolute;
    right: -17px;
    top: 7px;
}
.menu-builder .edit-item {
    position: absolute;
    right: -37px;
    top: 7px;
}
.menu-builder .delete-item {
    position: absolute;
    right: -57px;
    top: 7px;
}
.menu-builder .up-item {
    position: absolute;
    right: -77px;
    top: 7px;
}
.menu-builder .down-item {
    position: absolute;
    right: -97px;
    top: 7px;
}
.menu-builder a {
    text-decoration: none;
    color: black;
}
.menu-builder a:hover {
    color: #ffc353;
}
.menu-builder .close {
    right: 9px;
    position: absolute;
    top: 6px;
}
.menu-builder ul {
    margin-bottom: 20px;
}
